@model FilmDB.Model.Movies

@{
	ViewData["Title"] = "Editing Movie Details";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Movies</a></li>
		<li class="breadcrumb-item active" aria-current="page">Edit</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label class="control-label">Director</label>
				<select asp-for="DirectorID" asp-items="ViewBag.PossibleDirectors" class="form-control"></select>
				<span asp-validation-for="DirectorID" class="text-danger"></span>
			</div>
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>
