@using FilmDB.Model
@model List<Movies>
@{
    ViewData["Title"] = "Movies";
}
<h1 class="text-center"> @ViewData["Title"] </h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
        
        <style>
            .card-img-top {
                height: 400px;
                object-fit: scale-down;
            }
        </style>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNmYzMWVjNmQtNjJjNy00M2Y4LTkzZjQtZWQ5NmYzMjRjMDIzXkEyXkFqcGdeQXVyMTM1NjM2ODg1._V1_FMjpg_UY576_.jpg" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Movie 1</h5>
                    <p class="card-text">Description of Movie 1</p>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        }
        <div class="col-md-4">
            <div class="card">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BN2YxYTFmYTMtZjQ0YS00YTViLTg2OWEtMmM5YzY0YTE4OTU5XkEyXkFqcGdeQXVyMTY3ODkyNDkz._V1_FMjpg_UY720_.jpg" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Movie 2</h5>
                    <p class="card-text">Description of Movie 2</p>
                        <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMjA5ZjA3ZjMtMzg2ZC00ZDc4LTk3MTctYTE1ZTUzZDIzMjQyXkEyXkFqcGdeQXVyMTM1NjM2ODg1._V1_FMjpg_UY720_.jpg" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Movie 3</h5>
                    <p class="card-text">Description of Movie 3</p>
                        <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
